@charset "utf-8";

* {margin:0; padding:0;}
li {list-style: none;}
a {
    text-decoration: none;
    display: block;
    color: #fff;
}

section {
    height: 100vh; 
    background: url('../img/main_visual.jpg') center center / cover no-repeat;
    position: relative;
}

section > div {
    display: flex; 
    
}
section > div article {
    width: 33.33%;
     
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    
    text-align: center;
    color: #fff;
    /* transition: .5s; */
    z-index: 1;
}
section > div article:nth-child(2) {
    border-right: 1px solid rgba(255, 255, 255, .8);
    border-left: 1px solid rgba(255, 255, 255, .8);
}
section > div article > div { 
    margin-top: 200px;
    transition: all .5s;
}
section > div article > div > div {
     
 
    
    position: relative;
   display: none;
 
}
section > div article.on > div {
    margin-top: 100px; 
}
section > div article:hover {
    background-color: rgba(0, 0, 0, 0.267);
}
section > div article.on div > div {  
     display: block;
  
}

.bgbox_01 {
    background: url('../img/main_visual.jpg') center center / cover no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.bgbox_02 {
    background: url('../img/bg02.jpg') center center / cover no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.bgbox_03 {
    background: url('../img/img06.jpg') center center / cover no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}